.heading-h1,
h1 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #213298;
    margin-bottom: 17px;
    @include desktop {
        margin-bottom: 30px;
    }
}

.heading-h2 {
    font-size: 25px;
    font-weight: 400;
    color: #213298;
    margin-bottom: 10px;
    line-height: 31px;
}

.story-heading,
.heading-h3,
h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    color: #002a87;
}

.story-heading {
    border-bottom: 2px solid #000;
}

.solutions-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    margin: 0;
    padding: 47px 0 23px;
    @media screen and (min-width: 768px) {
        font-weight: 400;
        padding: 58px 0 60px;
    }
}


/* svg icons */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

// content
p {
    margin: 0 0 10px;
}

h1 {
    font-size: 25px;
    line-height: 1.4;
}

h2 {
    font-size: 22px;
    line-height: 1.4;
}

h3 {
    font-size: 20px;
    line-height: 1.4;
}

h1,
h2,
h3 {
    margin: 20px 0 10px;
    color: #002a87;
}